{% extends 'base.html' %}
{% load static %}

{% block title %}
Telemedicine
{% endblock title %}

{% block body %}

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section">
      <div class="container">
        <div class="section-header"></br></br>
          <h3>Departments</h3>
          <p>We’ve changed the way our members can see a doctor</p>
        </div>
		
        <button class="btn btn-outline-info btn-lg btn-block text-left" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
		<span style='font-size:24px' class='fas'>&#xf101;&nbsp;</span>Department A</button>
        <div class="collapse" id="collapseExample">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp; Doctor A.</a></div>
        </div>
		<div class="collapse" id="collapseExample">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp; Doctor AA</a></div>
        </div>
		<div class="collapse" id="collapseExample">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp; Doctor AAA.</a></div>
        </div>
		</br>
		<button class="btn btn-outline-dark btn-lg btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
		<span style='font-size:24px' class='fas'>&#xf101;&nbsp;</span>Department B</button>
		 <div class="collapse" id="collapse11">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp; Doctor B.</a></div>
        </div>
		<div class="collapse" id="collapse11">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp; Doctor BB</a></div>
        </div>
		<div class="collapse" id="collapse11">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp; Doctor BBB.</a></div>
        </div>
		</br>
	    <button class="btn btn-outline-warning btn-lg btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse111" aria-expanded="false" aria-controls="collapse111">
		<span style='font-size:24px' class='fas'>&#xf101;&nbsp;</span>Department C</button>
		 <div class="collapse" id="collapse111">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp; Doctor C</a></div>
        </div>
		<div class="collapse" id="collapse111">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor CC</a></div>
        </div>
		<div class="collapse" id="collapse111">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor CC</a></div>
        </div>
		</br>
		
		<button class="btn btn-outline-dark btn-lg btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1111" aria-expanded="false" aria-controls="collapse1111">
		<span style='font-size:24px' class='fas'>&#xf101;&nbsp;</span>Department D</button>
		 <div class="collapse" id="collapse1111">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor B.</a></div>
        </div>
		<div class="collapse" id="collapse1111">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor BB</a></div>
        </div>
		<div class="collapse" id="collapse1111">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor BBB.</a></div>
        </div>
		</br>
	    <button class="btn btn-outline-info btn-lg btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1112" aria-expanded="false" aria-controls="collapse1112">
		<span style='font-size:24px' class='fas'>&#xf101;&nbsp;</span>Department E</button>
		 <div class="collapse" id="collapse1112">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor C</a></div>
        </div>
		<div class="collapse" id="collapse1112">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor CC</a></div>
        </div>
		<div class="collapse" id="collapse1112">
        <div class="card card-body"><a href = "Doctors_Details.html" target = "blank"><i class="fa fa-hand-o-right"></i>&nbsp;Doctor CC</a></div>
        </div>
		</br>
		
      </div>
    </section><!-- End Team Section -->

{% endblock body %}