{% extends 'base.html' %}
{% load static %}

{% block title %}
Telemedicine
{% endblock title %}

{% block body %}
    <section id="team" class="team section">
      <div class="container">
        <div class="section-header"></br></br>
          <h3>Doctors</h3>
          <p>We’ve changed the way our members can see a doctor</p>
        </div>
		
        <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/team-1.jpg' %}" class="img-fluid" alt="">
             <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Walter White</h4>
                  <span>Surgeon</span>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'img/team-2.jpg' %}" class="img-fluid" alt="">
              <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Sarah Jhonson</h4>
                  <span>Physiotherapist</span>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'img/team-3.jpg' %}" class="img-fluid" alt="">
              <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. William Anderson</h4>
                  <span>CTO</span>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'img/team-4.jpg' %}" class="img-fluid" alt="">
              <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Amanda Jepson</h4>
                  <span>M.B.B.S</span>
                </div>
              </div>
            </div></a>
          </div>
        </div></br>
		
		    <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/team-4.jpg' %}" class="img-fluid" alt="">
              <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Walter White</h4>
                  <span>Surgeon</span>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'img/team-3.jpg' %}" class="img-fluid" alt="">
              <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Sarah Jhonson</h4>
                  <span>Physiotherapist</span>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'img/team-2.jpg' %}" class="img-fluid" alt="">
              <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. William Anderson</h4>
                  <span>CTO</span>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'img/team-1.jpg' %}" class="img-fluid" alt="">
              <a href = "Doctors_Details.html" target = "blank"><div class="member-info">
                <div class="member-info-content">
                  <h4>Dr. Amanda Jepson</h4>
                  <span>M.B.B.S</span>
                </div>
              </div></a>
            </div>
          </div>
        </div>

      </div>
    </section>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">
                <div class="footer-info">
                  <h3>AsaanIlaaj</h3>
                  <p>Virtual primary care and mental health treatment when you need it. 
				  Get personalized, high-quality healthcare by talking to top medical doctors all from the ease of your smartphone..</p>
                </div>
				<div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                  </ul>
                </div>

              </div>

              <div class="col-sm-6">
                
                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    A108 Adam Street <br>
                    Karachi, Ka 535022<br>
                    Pakistan <br>
                    <strong>Phone:</strong> +92 333 1234567<br>
                    <strong>Email:</strong> info@asaanilaaj.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Send message if you have any problem</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

{% endblock body %}