{% extends 'base.html' %}
{% load static %}

{% block title %}
Telemedicine
{% endblock title %}

{% block body %}

    <section id="team" class="team section">
      <div class="container">
        <div class="section-header"></br></br>
          <h3>Hospitals</h3>
          <p>We’ve changed the way our members can see a doctor</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/h1.png' %}" class="img-fluid" alt="">
              <a href = "department.html" target = "blank"> <div class="member-info">
              <div class="member-info-content">
                  <h4>Hospital 1</h4>
                  <span>Karachi</span>
                </div>
              </div></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'img/h2.png' %}" class="img-fluid" alt="">
              <a href = "department.html" target = "blank"> <div class="member-info">
                <div class="member-info-content">
                  <h4>Hospital 2</h4>
                  <span>Islamabad</span>
                </div>
              </div></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'img/h3.png' %}" class="img-fluid" alt="">
              <a href = "department.html" target = "blank"> <div class="member-info">
                <div class="member-info-content">
                  <h4>Hospital 3</h4>
                  <span>Karachi</span>
                </div>
              </div></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'img/h4.png' %}" class="img-fluid" alt="">
              <a href = "department.html" target = "blank"> <div class="member-info">
                <div class="member-info-content">
                  <h4>Hospital 4</h4>
                  <span>Islamabad</span>
                </div>
              </div></a>
            </div>
          </div>
        </div>
		</br>
		 <div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/h4.png' %}" class="img-fluid" alt="">
              <a href = "department.html" target = "blank"> <div class="member-info">
                <div class="member-info-content">
                  <h4>Hospital 5</h4>
                  <span>Karachi</span>
                </div>
              </div></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'img/h3.png' %}" class="img-fluid" alt="">
              <a href ="department.html" target = "blank"> <div class="member-info">
                <div class="member-info-content">
                  <h4>Hospital 6</h4>
                  <span>Islamabad</span>
                </div>
              </div></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'img/h2.png' %}" class="img-fluid" alt="">
              <a href = "department.html" target = "blank"> <div class="member-info">
                <div class="member-info-content">
                  <h4>Hospital 7</h4>
                  <span>Karachi</span>
                </div>
              </div></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'img/h1.png' %}" class="img-fluid" alt="">
              <a href = "department.html"> <div class="member-info">
                <div class="member-info-content">
                  <h4>Hospital 8</h4>
                  <span>Islamabad</span>
                </div>
              </div></a>
            </div>
          </div>
        </div>


      </div>
    </section>


{% endblock body %}
