{% extends 'base.html' %}
{% load static %}

{% block title %}
Asaanilaaj
{% endblock title %}

{%block body%} 

     <section id="team" class="team section">	  
		<div class="section-header"></br></br>
          <h3>Pharmacy</h3>
          <p>We’ve changed the way our members can see a doctor</p>
        </div>
		<div class="row" >
		<div class = "container">
		<div class="col-sm-12">
		<div class="card" >
		<h5 class="card-header text-white bg-info mb-3"><b>DVAGO<b></h5>
		<div class="card-body">
		<h5 class="card-title"><strong>Contact with DVAGO</strong>
		<div class='buttonn' id = "myBtn" style = "float:right">
		</div></h5>
		<a href="tel:(021) 11138246" class="btn btn-primary">Contact</a>
		<a href="https://dvago.pk/" class="btn btn-primary" style = "float:right" target = "blank">Visit Website</a>
		<p class="card-text text-danger">Timings: 9:AM to 9:PM</p>
		</div>
		<div class="card-footer text-muted">Updated 2 days ago</div>
        </div>
		</br>
		<div class="card" >
		<h5 class="card-header text-white bg-info mb-3"><b>Times Medicos<b></h5>
		<div class="card-body">
		<h5 class="card-title"><strong>Contact with Times Medicos</strong>
		<div class='buttonn' id = "myBtn" style = "float:right">
		</div></h5>
		<a href="tel:+92 2134932278" class="btn btn-primary">Contact</a>
		<a href="https://www.timemedico.com.pk/" class="btn btn-primary" style = "float:right" target = "blank">Visit Website</a>
		<p class="card-text text-danger">Timings: 9:AM to 9:PM</p>
		</div>
		<div class="card-footer text-muted">Updated 2 days ago</div>
        </div>
		
		</br>
		<div class="card" >
		<h5 class="card-header text-white bg-info mb-3"><b>Dawai.pk<b></h5>
		<div class="card-body">
		<h5 class="card-title"><strong>Contact with Dawai.pk</strong>
		<div class='buttonn' id = "myBtn" style = "float:right">
		</div></h5>
		<a href="tel:021 111-329-224" class="btn btn-primary">Contact</a>
		<a href="https://dawaai.pk/" class="btn btn-primary" style = "float:right" target = "blank">Visit Website</a>
		<p class="card-text text-danger">Timings: 9:AM to 9:PM</p>
		</div>
		<div class="card-footer text-muted">Updated 2 days ago</div>
        </div>
		
		</div>
		</div>
		</div>
		</section><!-- End Team Section -->

    
{% endblock body%}